name: CI

concurrency:
  group: ci-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci-reusable.yml
    secrets: inherit
